.button {
  display: inline-block;
  padding: clamp(0.6em, 2vw, 0.8em) clamp(0.2em, 4vw, 1.2em);
  background-color: black;
  color: #fff;
  text-decoration: none;
  font-size: clamp(14px, 2.5vw, 16px);
  border-radius: 0.5em;
  border: 2px solid transparent;
}

.button.blue {
  background-color: #1e78f0;
  color: #fff;
}
.button.blue:hover {
  background-color: rgb(255, 255, 255);
  color: #0026ff;
}

.button.white {
  background-color: #ffffff;
  color: #000;
  border: 2px solid #acacac;
}
.button.white:hover {
  background-color: #000000;
  color: #ffffff;
}

.button:hover {
  background-color: #fff;
  color: #000;
  border-color: currentColor;
  cursor: pointer;
}

.btn-big {
  padding: 1em 1em;
  border-radius: 0.7em;
}
.btn-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}
