.container {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

header.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  max-width: 100%;
  height: auto;
}

header .link.active {
  color: black;
  font-weight: bold;
}

header > nav.nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .link {
  font-size: 20px;
  text-decoration: none;
  color: grey;
  position: relative;
}

header .link:hover {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

header .link.active::after,
header .link:hover::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

header .link.active::after {
  background-color: #36f;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 820px) {
  .container {
    padding: 0 17px;
  }

  header.container {
    margin: 0;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    z-index: 9999;
  }

  .nav-bar {
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    width: clamp(240px, 70%, 400px);
    height: 100vh;
    background: white;
    padding: 80px 5px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    gap: 15px;
    z-index: 1000;
  }

  header.open .nav-bar {
    right: 0;
  }
  header .link.active::after,
  header .link:hover::after {
    content: none;
  }
}
