.container {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

header.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  max-width: 100%;
  height: auto;
}

header .link.active {
  color: black;
  font-weight: bold;
}

header > nav.nav-bar {
  display: flex;
  gap: 20px;
}
header .link {
  font-size: 20px;
  text-decoration: none;
  color: grey;
  position: relative;
}

header .link:hover {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

header .link.active::after,
header .link:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

header .link.active::after {
  background-color: #36f;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 820px) {
  .container {
    padding: 0 17px;
  }
  header.container {
    margin: 0;
  }

  header > nav.nav-bar,
  header.container .button {
    display: none;
  }
  .hamburger {
    display: block;
  }
  header.open header > nav.nav-bar,
  header.open .button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}
