.container
 {
    width: 800px;
    margin-left: calc(50% - 400px);
    /* background-color: rgb(247, 247, 112); */
    margin-bottom:60px;
}

header.container {
    display: flex;
    flex-direction:row;
     justify-content:space-between; 
    /* height:300px; */
    /* gap: 150px; */
    /* padding:20px; */
    align-items: center;
}




.link.active {
    background-color: red;
}

header > nav.nav-bar {
    display: flex;
    gap: 20px;
}
.link {
    font-size: 20px;
    text-decoration: none;
    color: grey;
    /* background-color: aquamarine;
    padding: 0.4em 0.8em;
    border-radius: 1em; */
}
/* header > * {
    background-color: red;
} */