section.container > img.person {
    width: 55%;
    float:right;
    padding-bottom: 30px;
}
.hero .tekstas {
    width: 44%;
    /* background-color: rgb(255, 154, 255); */
    float:left;
}
.hero .badge {
    display:flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.hero .badge > svg {
    width:20px;
    height:20px;
    color:#008000;
}
.hero .main-title {
    font-size:52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero .main-title > span {
    color: #1E78F0;
}
.hero .description {
    color:grey;
}