section.container > img.person {
    width: 55%;
    padding-bottom: 30px;
}
.hero .tekstas {
    width: 44%;
    /* background-color: rgb(255, 154, 255); */
    margin-bottom: 22px;
}

.hero {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}


.hero .badge {
    display:flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.hero .badge > svg {
    width:20px;
    height:20px;
    color:#008000;
}
.hero .main-title {
    font-size:52px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero .main-title > span {
    color: #1E78F0;
}
.hero .main-title > .crazy,
.hero .main-title:hover > .crazy {
    display: inline-block;
    padding: 0 10px;
    color: #ff0202;
    border: 2px solid red;
    transform: rotate(-5deg);
}
.hero .description {
    color:grey;
}

.crazy::before,
.crazy::after,
.crazy .sqr::before,
.crazy .sqr::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 2px solid red;
    position: absolute;
    bottom: -7px;
    right: -7px;
}
.crazy::before {top: -7px; left: -7px;}
.crazy::after {top: -7px; right: -7px;}
.crazy .sqr::before{bottom: -7px; left: -7px;}
.crazy .sqr::after{bottom: -7px; right: -7px;}


