* {
    box-sizing: border-box;
}
body {
margin: 0;
background-color: #fff;
color: rgb(48, 48, 48);
font-family: 'Courier New', Courier, monospace;
}


main.below-nav,
header.container {
    margin-top: 60px;
}








main .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
    padding:20px;

    width: 800px;
    margin-left: calc(50% - 400px);
    /* background-color: rgb(247, 247, 112); */
    margin-bottom: 60px;
}

main .footer > div {
    display: flex;
    gap: 20px;

}

main .footer div > a {

    font-size: 20px;
    text-decoration: none;
}

main .footer p {
    font-size: 18px;
    font-weight: 500;
}
