* {
    box-sizing: border-box;
}
body {
width: 100%;
margin: 0;
background-color: #fff;
color: rgb(48, 48, 48);
font-family: 'Courier New', Courier, monospace;
overflow-x: hidden;
background: linear-gradient(
    65deg,
     #A36ADD 0%,
      rgb(255, 255, 255) 20%,
       #ffffff 80%,
        #6c8df8 100%);
}


main.below-nav,
header.container {
    margin-top: 60px;
}


.brand-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    justify-content: center;
    
    padding-top: 50px;
    
}
    .brand-listas > img {
        height: 40px;
    }


.brand-listas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    border: 1px solid red;
    justify-content: center;
    align-content: flex-start;
    max-height: 550px;
    overflow-y: hidden;
}






main .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
    padding:20px;

    width: 800px;
    margin-left: calc(50% - 400px);
    /* background-color: rgb(247, 247, 112); */
    margin-bottom: 60px;
}

main .footer > div {
    display: flex;
    gap: 20px;

}

main .footer div > a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #36f;
}
main .footer div > a:hover {
    background-color: #36f;
    color: #fff;
}
main .footer p {
    margin: 0;
}

