* {
    box-sizing: border-box;
}
body {

background-color: #b4b4b4;
color: rgb(48, 48, 48);
font-family: 'Courier New', Courier, monospace;
}
.container
 {
    width: 800px;
    margin-left: calc(50% - 400px);
    /* background-color: rgb(247, 247, 112); */
    margin-bottom:60px;
}

header.container {
    display: flex;
    flex-direction:row;
     justify-content:space-between; 
    /* height:300px; */
    /* gap: 150px; */
    /* padding:20px; */
    align-items: center;
}


header > a.button {
    padding: 0.5em 1em;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0.5em;
    
}
.active {
    background-color: red;
}

header > nav.nav-bar {
    display: flex;
    gap: 20px;
}
header > nav > a{
    font-size: 20px;
    text-decoration: none;
    color: grey;
    /* background-color: aquamarine;
    padding: 0.4em 0.8em;
    border-radius: 1em; */
}
/* header > * {
    background-color: red;
} */

main.zemiau-nav,
header.container {
    margin-top: 60px;
}



section.container > img.person {
    width: 55%;
    float:right;
    
}
div.tekstas {
    width: 35%;
    background-color: rgb(255, 154, 255);
    float:left;
}



footer.footer{
    display:inline-block;
    width: 100%;
    background-color: #fff;
}

footer.footer > div {
    float: left;
    width:200px;
    margin-left: calc((100% - 200px * 3) / 4);
    background-color: rgb(181, 176, 255);
}
